[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
objectpath = "*"
pytz = "*"
pymarc = "*"
bytes = "*"
"json5" = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
